@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: url("images/bg-pattern-top.svg") no-repeat ,url("images/bg-pattern-bottom.svg") no-repeat;
    background-color: hsl(185, 75%, 39%);
    background-origin: content-box;
    background-position-x: -21rem, 40rem;
    background-position-y: -31rem, 22rem;
    font-family: 'Kumbh Sans', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    background-color: white;
    width: 350px;
    height: 380px;
    border-radius: 10px;
    text-align: center;
}

.banner{
    background-image: url("images/bg-pattern-card.svg");
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0;
    
}

.vector{
    margin-top: -50px;
    margin-bottom: 20px;
    border-radius: 100%;
    border:5px solid white;
}

.name{
    color:   hsl(229, 23%, 23%); 
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}

.name span{
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}

.place{
    color: hsl(227, 10%, 46%);
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
}

hr{
    opacity: 0.3;
}

.about{
    display: flex;
    justify-content: space-around;
    padding: 20px 20px 0 20px;
    
}

.data h3{
    font-size: 18px;
    font-weight: 700;
    color:hsl(229, 23%, 23%) ;
    margin-bottom: 3px;
}

.data p{
    font-size: 11px;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    letter-spacing:1.2px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
    color: white;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

@media screen and (max-width:700px){

    body{
        background-position-x: -45rem, 10rem;
        background-position-y: -41rem, 20rem;
    }


}